* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: black !important;
  height: 100vh;
}
/* GRID */
.grid {
  display: grid;
  grid-template-areas:
    "box-1 box-1 box-1 box-1 box-1 box-1 box-2"
    "box-1 box-1 box-1 box-1 box-1 box-1 box-2"
    "box-3 box-3 box-3 box-3 box-3 box-3 box-3";
}
.box-1 {
  grid-area: box-1;
  background-image: url(./imagens/planets.jpg);
}
.box-2 {
  background-color: whitesmoke;
  grid-area: box-2;
  height: 900px;
}
.box-3 {
  background-color: black;
  color: white;
  grid-area: box-3;
}
/* Formulario */
.main-section {
  background-color: whitesmoke;
}
/* Sign Up */
.mainTittle {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
/* First Name */
.divFirstName {
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 15%;
}
/* Last Name */
.divLastName {
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 15%;
}
/* Email */
.divEmail {
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 15%;
}
/* Password */
.divPassword {
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 15%;
}
/*  Gender */
.genderText {
  font-size: 22px;
  padding-top: 30px;
}
.divGender {
  margin-left: 21%;
}
/*  Terms of User */
.termsOfUser {
  margin-left: 21%;
  padding-top: 30px;
}
.divButton {
  text-align: center;
  padding-top: 60px;
}
/*  Footer */
.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.madeByMe {
  color: white;
  margin-right: 10px;
}
/* Error Message */
.errorMessage {
  text-align: center;
  color: red;
  font-size: 20px;
}
.cadastroConcluido {
  text-align: center;
  color: green;
  font-size: 20px;
}
